<div class="header">
    Agencija za prodaju i izdavanje nekretnina
</div>

<div class="topnav">
    <a routerLink='/radnik'>Pocetna strana</a>
    <a routerLink='/agentinbox'>Inbox</a>
    <a routerLink='/odobravanjenekretnina'>Odobri nekretnine</a>
    <a routerLink='/agentnovanekretnina'>Dodaj novu nekretninu</a>
    <a class="active" routerLink='/agentsvenekretnine'>Sve nekretnine</a>
    <a routerLink='/dogovoreneponude'>Dogovorene nekretnine</a>
    <a routerLink='/agentugovoreneprodaje'>Ugovorene prodaje</a>
    <a routerLink='/pocetna'>Odjavi se</a>
</div>

<table>
    <tr *ngFor='let n of nekretnine'>
        <td>
            {{n.grad}}, {{n.opstina}}
            <Br />
            Cena: {{n.cena}}
            <Br />
            {{n.kucaspratnost}}
            <br />
            {{n.tekstprodaje}}
        </td>
        <td>
            <button *ngIf='!n.promovisana' (click)='Promovisi(n.id)'>Promovisi</button>
            <button *ngIf='n.promovisana' (click)='IzbaciIzPromovisanih(n.id)'>Izbaci iz promovisanih</button>
        </td>
    </tr>
</table>



<footer class="footer">
    Copyright © 2021 Vukasin Nedeljkovic
</footer>