<div class="header">
    Agencija za prodaju i izdavanje nekretnina
</div>

<div class="topnav">
    <a class="active" routerLink='/radnik'>Pocetna strana</a>
    <a routerLink='/agentinbox'>Inbox</a>
    <a routerLink='/odobravanjenekretnina'>Odobri nekretnine</a>
    <a routerLink='/agentnovanekretnina'>Dodaj novu nekretninu</a>
    <a routerLink='/agentsvenekretnine'>Sve nekretnine</a>
    <a routerLink='/dogovoreneponude'>Dogovorene nekretnine</a>
    <a routerLink='/agentugovoreneprodaje'>Ugovorene prodaje</a>
    <a routerLink='/pocetna'>Odjavi se</a>
</div>


<div id='divChart'>
    <canvas id="prvi"></canvas>
</div>

<div id='divChart'>
    <canvas id="drugi"></canvas>
</div>

<div id='divChart'>
    <canvas id="treci"></canvas>
</div>

<div id='divChart'>
    <canvas id="cetvrti"></canvas>
</div>




<footer class="footer">
    Copyright © 2021 Vukasin Nedeljkovic
</footer>