<div class="header">
    Agencija za prodaju i izdavanje nekretnina
</div>

<div class="topnav">
    <a routerLink='/admin'>Pocetna strana</a>
    <a routerLink='/admindodajkorisnika'>Dodaj korisnika</a>
    <a routerLink='/adinazurirajpodatke'>Azuriraj korisnika</a>
    <a routerLink='/brisikorisnike'>Menjaj statuse korisnika</a>
    <a routerLink='/admindodajnekretninu'>Dodaj novu nekretninu</a>
    <a routerLink='/adminodobrinekretninu'>Nove nekretnine</a>
    <a class="active" routerLink='/adminugovoreneprodaje'>Ugovorene prodaje</a>
    <a routerLink='/podesiprocente'>Postavi procente agencija</a>
    <a routerLink='/pocetna'>Odjavi se</a>
</div>


<table>
    <tr>
        <th>
            Naziv nekretnine
        </th>
        <th>
            Vlasnik nekretnine
        </th>
        <th>
            Kupac nekretnine
        </th>
        <th>
            Zarada agencije
        </th>
    </tr>
    <tr *ngFor='let i of ponude'>
        <td>
            {{i.nazivnekretnine}} 
        </td>
        <td>
            {{i.vlasnik}} 
        </td>
        <td>
            {{i.posiljalac}}
        </td>
        <td>
            {{i.profitagencije}}
        </td>
    </tr>
</table>



<footer class="footer">
    Copyright © 2021 Vukasin Nedeljkovic
</footer>