<div class="header">
    Agencija za prodaju i izdavanje nekretnina
</div>

<div class="topnav">
    <a class="active" routerLink='/admin'>Pocetna strana</a>
    <a routerLink='/admindodajkorisnika'>Dodaj korisnika</a>
    <a routerLink='/adinazurirajpodatke'>Azuriraj korisnika</a>
    <a routerLink='/brisikorisnike'>Menjaj statuse korisnika</a>
    <a routerLink='/admindodajnekretninu'>Dodaj novu nekretninu</a>
    <a routerLink='/adminodobrinekretninu'>Nove nekretnine</a>
    <a routerLink='/adminugovoreneprodaje'>Ugovorene prodaje</a>
    <a routerLink='/podesiprocente'>Postavi procente agencija</a>
    <a routerLink='/pocetna'>Odjavi se</a>
</div>



<div id='divChart'>
    <canvas id="prvi"></canvas>
</div>

<div id='divChart'>
    <canvas id="drugi"></canvas>
</div>

<div id='divChart'>
    <canvas id="treci"></canvas>
</div>

<div id='divChart'>
    <canvas id="cetvrti"></canvas>
</div>




<footer class="footer">
    Copyright © 2021 Vukasin Nedeljkovic
</footer>