<div class="header">
    Agencija za prodaju i izdavanje nekretnina
</div>

<div class="topnav">
    <a routerLink='/agentinbox'>Vrati se na inbox</a>
</div>


<br />
{{konverzacija.naslov}}
<Br />

<table>
    <tr>
        <td>
            Posiljalac
        </td>
        <td>
            Vreme poruke
        </td>
        <td>
            Tekst poruke
        </td>
    </tr>
    <tr *ngFor='let k of konverzacija.konverzacija'>
        <td>
            {{k.posiljalaczaispit}}
        </td>
        <td>
            {{k.vremeuformatuzaispit}}
        </td>
        <td>
            {{k.text}}
        </td>
    </tr>
</table>

<div *ngIf='blokiran==0'>
    <textarea name='textarea' [(ngModel)]='text'></textarea>
    <Br />
    <button (click)='PosaljiPoruku()'>Posalji poruku</button>
    <Br />

</div>


<button *ngIf="blokiran==0" (click)='Blokiraj()'>Blokiraj korisnika</button>
<button *ngIf="blokiran==1" (click)='Odblokiraj()'>Odblokiraj korisnika</button>
<br />
<div *ngIf='blokiran==0'>
    <button *ngIf="prihvatiiliposalji&&dalitrebadaimaprihvatiodbij" (click)='Prihvati()'>Prihvati ponudu</button>
    <button *ngIf="prihvatiiliposalji&&dalitrebadaimaprihvatiodbij" (click)='Odbij()'>Odbij ponudu</button>
</div>
<footer class="footer">
    Copyright © 2021 Vukasin Nedeljkovic
</footer>